.Project {
  grid-column-start: 2;
  grid-column-end: 2;
  align-self: center;
  height: 95%;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: opacity ease-in-out 2 s;
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.transition {
  animation-name: transition;
  animation-duration: 1.5s;
}

.ProjectBox {
  /* margin-left: 150px;
  margin-right: 150px; */
  height: 600px;
  height: 100%;
  /* grid-row-start: 1;
  grid-row-end: 1; */
  border-radius: 4px;
  position: relative;
  display: grid;
}

.projectPicture {
  position: absolute;
  right: 8%;
  width: 40%;
  height: 50%;
  align-self: center;
  border-radius: 4px;
  margin-left: 20px;
}

.projectDatas {
  text-align: left;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 8%;
  width: 50%;
  height: 60%;
  background-color: #03030300;
  display: grid;
}

.projectDatas > div {
  align-self: center;
  height: auto;
}

.projectDescription {
  width: 100%;
  height: auto;
  text-align: left;
  border-radius: 4px;
}

.projectDescription p {
  text-align: left;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.projectName {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projectTechnologies {
  margin-top: 10px;
  text-align: left;
}

.projectLinks {
  margin-top: 10px;
  text-align: left;
}

@media screen and (min-width: 1300px) {
  .projectPicture {
    width: 500px;
    height: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .projectPicture {
    width: 350px;
    height: 175px;
  }
}

/* tablet size */
@media screen and (max-width: 1100px) {
  .Project {
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    height: 95%;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .ProjectBox {
    height: 100%;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .projectPicture {
    position: static;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 400px;
    height: 200px;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    margin-left: 0;
    margin-top: 30px;
  }

  .projectDatas {
    position: static;
    align-self: flex-start;
    justify-self: center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 400px;
    height: 60%;
    background-color: #03030300;
    display: grid;
  }

  .projectTechnologies {
    text-align: center;
  }

  .projectLinks {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .projectPicture {
    width: 300px;
    height: 150px;
    margin-top: 0;
  }
  .projectDatas {
    width: 300px;
    height: 60%;
  }
}

/* phone size -----------------------------------------------------------------------------*/
@media screen and (max-width: 650px) {
  .projectPicture {
    width: 250px;
    height: 100px;
    margin-top: 0;
  }
  .projectDatas {
    width: 250px;
    height: 60%;
  }

  .projectName {
    margin-top: 0;
  }

  .projectDescription p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .projectPicture {
    width: 200px;
    height: 75x;
    margin-top: 0;
  }
  .projectDatas {
    width: 200px;
    height: 60%;
  }

  .projectDescription p {
    font-size: 11px;
  }
}
