.Project {
  grid-column-start: 2;
  grid-column-end: 2;
  align-self: center;
  transition: opacity ease-in-out 2 s;
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.transition {
  animation-name: transition;
  animation-duration: 1.5s;
}

.ProjectBox {
  /* margin-left: 150px;
  margin-right: 150px; */
  height: 600px;
  width: 100%;
  border-radius: 4px;
  position: relative;
  display: grid;
}

.projectPicture {
  position: absolute;
  /* top: 20%;
  bottom: 20%; */
  right: 8%;
  /* width: 50%;
  height: 60%; */
  width: calc(100% / 2.7);
  height: calc(100% / 2);
  align-self: center;
  border-radius: 4px;
  margin-left: 20px;
}

.projectDatas {
  text-align: left;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 8%;
  width: 50%;
  height: 60%;
  background-color: #03030300;
  display: grid;
}

.projectDatas > div {
  align-self: center;
  height: auto;
}

.projectDescription {
  width: 100%;
  height: auto;
  text-align: left;
  border-radius: 4px;
}

.projectDescription p {
  text-align: left;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.projectName {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projectTechnologies {
  margin-top: 10px;
  text-align: left;
}

.projectLinks {
  margin-top: 10px;
  text-align: left;
}
